%section#transitions
  %h2 Transition Styles
  %p
    You can select from different transitions, like:
    %br/
    %a{href:"?transition=cube#/transitions"} Cube
    \-
    %a{href:"?transition=page#/transitions"} Page
    \-
    %a{href:"?transition=concave#/transitions"} Concave
    \-
    %a{href:"?transition=zoom#/transitions"} Zoom
    \-
    %a{href:"?transition=linear#/transitions"} Linear
    \-
    %a{href:"?transition=fade#/transitions"} Fade
    \-
    %a{href:"?transition=none#/transitions"} None
    \-
    %a{href:"?#/transitions"} Default
