%section{data: {markdown: ''}}
  %script{type: 'text/template'}
    :plain
      ## Markdown support

      For those of you who like that sort of thing. Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).

      ```
      <section data-markdown>
        ## Markdown support

        For those of you who like that sort of thing.
        Instructions and a bit more info available [here](https://github.com/hakimel/reveal.js#markdown).
      </section>
      ```
