%section
  %section{data: {state: "alert"}}
    %h2 Global State
    %p
      Set
      %code data-state="something"
      on a slide and
      %code "something"
      will be added as a class to the document element when the slide is open. This lets you
      apply broader style changes, like switching the background.

    %a.image.navigate-down{href: "#"}
      %img{width: "178", height:"238", src: "https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", alt: "Down arrow"}
  %section{data: {state: "blackout"}}
    %h2 "blackout"
    %a.image.navigate-down{href: "#"}
      %img{width: "178", height:"238", src: "https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", alt: "Down arrow"}
  %section{data: {state: "soothe"}}
    %h2 "soothe"
    %a.image.navigate-next{href: "#"}
      %img{width: "178", height:"238", src: "https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png", alt: "Up arrow", style: "-webkit-transform: rotate(-90deg);"}
