%section
  %section
    %h2 Fragmented Views
    %p Hit the next arrow...
    %p.fragment ... to step through ...
    %ol
      %li.fragment
        %code any type
      %li.fragment
        %em of view
      %li.fragment
        %strong fragments

    %aside.notes
      This slide has fragments which are also stepped through in the notes window.

  %section
    %h2 Fragment Styles
    %p There's a few styles of fragments, like:
    %p.fragment.grow grow
    %p.fragment.shrink shrink
    %p.fragment.roll-in roll-in
    %p.fragment.fade-out fade-out
    %p.fragment.highlight-red highlight-red
    %p.fragment.highlight-green highlight-green
    %p.fragment.highlight-blue highlight-blue
