%section
  %h2 Spectacular image!
  %a.image{href: "http://lab.hakim.se/meny/", target: "_blank"}
    %img{width: "320", height: "299", src: "http://s3.amazonaws.com/hakim-static/portfolio/images/meny.png", alt: "Meny"}
