%section
  %h2 Stellar Links
  %ul
    %li
      %a{href: "http://slid.es"} Try the online editor
    %li
      %a{href: "https://github.com/hakimel/reveal.js"} Source code on GitHub
    %li
      %a{href: "http://twitter.com/hakimel"} Follow me on Twitter
